/* Font and heading styles */

@font-face
{
    font-family: LalyUPC;
    src: url('./../Fonts/upclb.ttf');
}

html { font-size: 62.5%; } 

body
{
    font-size:3rem;
    color: white;
}

h1
{
    font-family:LalyUPC;
    margin:1rem auto;
    text-align:center;
}

.text-panel
{
    font-family:Arial;
    letter-spacing: 0.0625rem;
    font-size:1.6rem;
    width:50%;
}

/* Slider sections */

.slides-container > *
{
    background-color:black;
	padding:2rem 10rem;
	background-image: url('images/ui-start.jpg');
    background-repeat:no-repeat;
	background-position: top right;
    background-size: contain;
}

/* your mission panel */
.instruction-videos
{
    margin: 6rem 0;
}

.instruction-videos video
{
    float:left;
    width: 30rem;
    margin-right:6rem;
}

/* sliders */
.slider-row
{
    width:40%;
    margin:2rem 3rem;
}

.slider-row > div
{
    margin:1rem auto;
    text-align:center;
}

/* game results */
#game-results
{
  position: relative;
  padding:0;
}

#game-results *
{
  position: absolute;
  top:0;
  left:0;
}

#outcome-content {
    display:none;
}